.form-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
}

.form-group span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
    display: block;
}

select:invalid[focused="true"] ~ span {
    display: block;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

fieldset {
    display: contents;

    legend {
        padding: 10px 0px;
        line-height: 1.2;
        font-size: 20px;
        font-weight: 600;
    }
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.form-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #777;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 12px;
    color: #007bff;
    background-color: #ffffff;
    padding: 0 4px;
    border-radius: 4px;
    left: 8px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:disabled {
    background-color: gray;
}

.submit-button:hover {
    background-color: #0056b3;
}

.full-name-form-group {
    display: flex;
    gap: 0.75rem;
}

.full-name-form-group .form-group,
.address-fields .form-group {
    flex-grow: 1;
    flex-basis: 300px;
}

.address-fields {
    display: flex;
    gap: 0.75rem;
}

input:invalid[focused="true"] + label {
    color: red;
}

select:invalid[focused="true"] {
    border: 1px solid red;
}
