article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

figure.zoom {
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: crosshair;
}
figure.zoom img:hover {
    opacity: 0;
}
figure.zoom img {
    transition: opacity 0.5s;
    display: block;
}
