---
import "../components/css/productGrid.scss";
import "../components/css/productCard.scss";

export const prerender = false;

import Layout from "../layouts/Layout.astro";
import ProductsGrid from "../components/ProductsGrid.jsx";
---

<Layout title="Products - Awa">
    <section class="shop-section">
        <ProductsGrid initialProducts={[]} client:load />
    </section>
</Layout>
