---
import "../components/css/productGrid.scss";
import "../components/css/productCard.scss";

export const prerender = false;

import Layout from "../layouts/Layout.astro";
import ProductsGrid from "../components/ProductsGrid.jsx";
import awaStore from "../services/awaStore.js";

const products = await awaStore.list();
---

<Layout title="Products - Awa">
    <section class="shop-section">
        <ProductsGrid initialProducts={products} client:load transition:persist="products" />
    </section>
</Layout>
