---
import "../components/css/productGrid.scss";
import "../components/css/productCard.scss";

export const prerender = false;

import Layout from "../layouts/Layout.astro";
import ProductsGrid from "../components/ProductsGrid.jsx";
import { searchProducts } from "../services/products.js";
const products = searchProducts({ searchVal: "" });
---

<Layout title="Products - Awa">
    <section class="shop-section">
        <ProductsGrid initialProducts={products} client:load />
    </section>
</Layout>
