---
import ProductsGrid from "../components/ProductsGrid.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Store App">
    <section class="shop-section">
        <ProductsGrid client:only="react" />
    </section>
</Layout>
