---
import ProductsGrid from "../components/ProductsGrid.jsx";
import Layout from "../layouts/Layout.astro";
import "../components/css/productGrid.scss";
import "../components/css/productCard.scss";
---

<Layout title="Store App">
    <section class="shop-section">
        <ProductsGrid client:only="react" />
    </section>
</Layout>
