---
import Products from "../components/Products.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Store App">
    <section class="shop-section">
        <Products />
    </section>
</Layout>
