---
import ProductsGrid from "../components/ProductsGrid.jsx";
import Layout from "../layouts/Layout.astro";

import { getLatestProducts } from "../services/fakeStore";
const products = getLatestProducts();
---

<Layout title="Store App">
    <section class="shop-section">
        <ProductsGrid client:only="react" initialProducts={products} />
    </section>
</Layout>
