---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global lang="scss">
    :root {
        --menu-text-color: #514f4f;
        --menu-hover-color: #f4f5f6;
        --theme-color: white;
        --primary-color: #124f88;
        --secondary-color: #f7c331;
        --text-color-inverse: white;
        --text-color: black;
        --navbar-shallow-color: #e5e5e5;
        --menu-mobile-background-color: #3a4460;

        font-size: 1.1em;
    }

    body {
        font-family: "Montserrat", sans-serif;
        background-color: var(--theme-color);
        color: var(--text-color);
        padding-bottom: 70px;
        margin-top: 0;
    }

    .layout_padding {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    a {
        text-decoration: none;
        color: var(--text-color);
    }
</style>
